{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
<div class="vh-100">
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3 text-center">
				Vous êtes déjà connecté(e) avec l'email suivant :
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">se déconnecter</a>.
			</div>
		{% endif %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 d-flex align-items-center justify-content-center">
					<div class="signin-inner my-4 my-lg-0 bg-white shadow-strong border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
						<div class="text-center text-md-center mb-4 mt-md-0">
							<h1 class="mb-5 h3">Connexion</h1>
							<label for="inputEmail">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<label for="inputPassword">Password</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="checkbox mb-3">
								<label>
									<input type="checkbox" name="_remember_me">
									Remember me
								</label>
							</div>

							<div class="d-grid">
								<button type="submit" class="btn btn-primary">Se connecter</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
