{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="min-vh-100 d-flex align-items-center">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="signin-inner my-4 my-lg-0 bg-white shadow-strong border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
        <div class="text-center text-md-center mb-4 mt-md-0">
          <h1 class="mb-5 h3">Connexion</h1>
          <form method="post" class="mt-4">
            {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
              <div class="mb-3">
                Vous êtes déjà connecté(e) avec l'email suivant : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">se déconnecter</a>.
              </div>
            {% endif %}
            <div class="form-group mb-4">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <span class="fas fa-envelope"></span>
                </span>
                <input type="email" value="{{ last_username }}" placeholder="hello@agiliteach.org" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group mb-4">
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon2">
                    <span class="fas fa-unlock-alt"></span>
                  </span>
                  <input type="password" placeholder="admin123" class="form-control" id="password" autocomplete="current-password" required></div>
              </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="form-check mb-0">
                  <input class="form-check-input" type="checkbox" name="_remember_me" value="" id="remember">
                  <label class="form-check-label mb-0" for="remember">Se rappeler de moi</label>
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Se connecter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}