{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <section class="mb-5 mb-lg-10">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="fw-bold text-center mb-5">Sign Up</h1>

        <div class="row gx-xl-5 justify-content-center">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <form>
                    {{ form_start(registrationForm, {'methods': 'POST'}) }}
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    {{ form_widget(registrationForm.name,
                                        {
                                            'attr': {'class': 'form-control'},
                                            'attr': {'id': 'name'}
                                        }
                                    ) }}
                                    <label class="form-label" for="name">Your name</label>

                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    {{ form_widget(registrationForm.phone,
                                        {
                                            'attr': {'class': 'form-control'},
                                            'attr': {'id': 'phone'}
                                        }
                                    ) }}
                                    <label class="form-label" for="phone">Phone number</label>

                                </div>
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            {{ form_widget(registrationForm.email,
                                {
                                    'attr': {'class': 'form-control'},
                                    'attr': {'id': 'email'}
                                }
                            ) }}
                            <label class="form-label" for="email">Email address</label>
                        </div>
                        <div class="form-outline mb-4">
                            {{ form_widget(registrationForm.plainPassword,
                                {
                                    'attr': {'class': 'form-control'},
                                    'attr': {'id': 'password'}
                                }
                            ) }}
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <div class="form-check d-flex justify-content-center mb-4">
                            {{ form_widget(registrationForm.agreeTerms,
                                {
                                    'attr': {'class': 'form-check-input me-2'},
                                    'attr': {'id': 'checkbox'}
                                }
                            ) }}
                            <label class="form-check-label" for="checkbox">Agree terms</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
                    {{ form_end(registrationForm) }}
                <form>
            </div>
        </div>
    </section>
    
{% endblock %}
